.container {
	width: 1140px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

header {
	padding-top: 77px;
	padding-bottom: 96px;
}

.header-img {
	display: inline-block;
	width: 39%;/*в html такая особенность - он оставляет 1% на пробелы и т.к. С этим ничего не поделать, нужно делать так*/
	vertical-align: middle;/*это свойство с таким значением, и такое же в следуещем блоке, выравнивает оба блока по центру горизонтали относительно друг друга*/
}

.header-text {
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	font-family: Tahoma;
}

.header-text__title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 15px;
}

.header-text__subtitle {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 35px;
}

.header-text__descrip {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	max-width: 526px;
	margin-bottom: 47px;
}

.header-text__price {
	font-size: 48px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 53px;
}

.button {
	border-radius: 5px;
	background-color: #f05a22;
	color: #ffffff;
	font-family: Tahoma;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	padding: 22px 42px 22px 46px;
	margin-right: 40px;
}

.button-button-o {
	border-radius: 5px;
	border: 2px solid #f05a22;
	background-color: transparent;/*прозрачный фон*/
	color: #f05a22;
	font-family: Tahoma;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	padding: 21px 30px 22px 30px;
}


/*Контейнер - Доставка и оплата - */
.container-delivery {
	height: 408px;
	border: 1px solid #ffffff;
	background-color: #f2f2f2;
}

.delivery-title {
	text-align: center;
	color: #333333;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	margin-top:90px;
}

.delivery {
	display: inline-block;
	text-align: center;
	width: 25%;
	float: left;
	margin-top: 90px;
}

.delivery__img {
	min-height: 55px;
}

.delivery__text {
	color: #333333;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

/*Закрывает свойство float которое поставлено в предидущем блоке*/
.delivery-wrap:after {
	content: "";
	display: table;
	clear: both;
}


/*Контейнер -Наши покупатели-*/
.container-customers {
	width: 1140px;
	height: 660px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 110px;
	margin-top: 90px;
}

.customers-title {
	color: #333333;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	margin-bottom: 70px;
}

.customers__img {
	display: inline-block;
	width: 25%;
	float: left;
	margin-bottom: 40px;
}

/*Закрывает свойство float которое поставлено в предидущем блоке*/
.customers-wrap:after {
	content: "";
	display: table;
	clear: both;
}



.container-footer {
	height: 70px;
	background: #e6e6e6;
}

.copy {
	font-size: 15px;
	font-family: Tahoma;
	color: rgb(69, 66, 66);
	line-height: 2.4;
	text-align: center;
	padding-top: 20px;
}

.copy a {
	text-decoration: none;
}

.BOD {
	font-size: 20px;
	font-family: "Myriad Pro" "Arial";
	color: rgba(255, 255, 255, 0.969);
	line-height: 0.308;
	text-shadow: 0px 3px 0px rgba(130, 105, 157, 0.75);
}